font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf)
}
/*index.html*/
 header{
     width: 100%;
 } 

 header-wrapper{
     width: 100%;
     background-color: rgb(37, 25, 25);
 }
header-wrapper-black{
    background-color: #202420;
}
 address {
     font-family:"Gilroy","Helvetica" sans-serif;
     font-style: normal;
     font-weight:400;
     color: #FFFFFF;

 }
