font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf)
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-style: normal;
}
html {
    box-sizing: content-box;
}

/*index.html*/
.header {
    width: 100%;

}
.header-wrapper {
    width: 100%;
    background-color: #fff;
}
.header-wrapper-black {
    background-color: #20242D;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
 .container-wrapper-top{
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .container-wrapper-bottom{
    padding-top:12px;
    padding-bottom:7px;
}
  
 .address{
     font-weight:400;
   color: #fff;
   padding-left: 50px;
 }

 .black-list{
     list-style: none;
     display: flex;
 }
 .header-link {
     color: #fff;
     padding-right:50px ;
     text-decoration:none;

 }
 .link-white{
     list-style: none;
     display: flex;

 }

 .pages{
     margin-right: 56px;
     font-weight: 600;
   
 }
.pages:last-child{
    padding: 0;
}

.logo{
    padding-left:50px;
}
.header-text{
    color: #20242D;
    text-decoration:none;
}
.header-text:hover{
    color:#FF7129;
    
}

.section-medium{
    background-image: url(../img/Panel.jpg);
    min-height: 844px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
}
.section-medium::before{
    content: "";
    position: absolute;
    width: 1600px;
    height: 844px;
    left: 0px;
    top: 91px;

    background:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), rgba(32, 36, 45, 0.3) ;
    mix-blend-mode: multiply;
    opacity: 0.9;
    }
.banner{
    color: #fff;
    font-weight: 700;
    font-size: 92px;
    padding-top: 271px;
}
 .under-banner{
     color: #fff;
     font-weight:400;
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     width: 508px;
     margin: 0 auto;
 }
 .banner-button{
     background-color: #FF7129;
     box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
     border: 1px solid #FF7129 ;
 }
 .banner-button:hover{
     background-color:#D35E22;;
 }
 .banner-button:focus{
   background-color: #ff5b19;
 }
 .banner-button:active
{
    background-color: #e9813b;
}
 .banner-button-text{
     color: #fff;
    font-weight:700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 47px;
    padding-left: 48px;
    margin-top: 59px;
 }

 .second-section{
     width: 100%;
     padding-top: 132px;
     padding-bottom: 115px;
 }
 
 .name-second-section{
    font-weight:700;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    margin-top: 201px;

 }
 .second-text{
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    margin-top: 64px;
 }

 .section-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
 .second-section-text{
     max-width: 535px;
 }
 .footer{
    width: 100%;
    background-color: #20242D;
    height: 207px;
}

.footer-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.link-footer{
    list-style: none;
    display: flex;
    margin-top: 66px;
}


.footer .header-text{
    color: #fff;
}
.footer .header-text:hover{
    color:#FF7129;

}
.nav-list-footer{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-text{
    color: #7B7E85;   ;
}
.footer-logo{
    margin-left: 50px;
    background-color:#20242D;
}