font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 400;
    src: url(../fonts/gilroy-regular.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 500;
    src: url(../fonts/gilroy-medium.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 600;
    src: url(../fonts/gilroy-semibold.ttf)
}
@font-face {
    font-family: "Gilroy";
    font-style: normal; 
    font-weight: 700;
    src: url(../fonts/gilroy-bold.ttf)
}
*, 
*::before, 
*::after {
    box-sizing: inherit;
    margin: 0;
    font-family: "Gilroy", "Helvetica", sans-serif;
    font-style: normal;
}
html {
    box-sizing: content-box;
}

/*index.html*/
.header {
    width: 100%;

}
.header-wrapper {
    width: 100%;
    background-color: #fff;
}
.header-wrapper-black {
    background-color: #20242D;
}
.container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}
 .container-wrapper-top{
     padding-top: 10px;
     padding-bottom: 10px;
 }
 .container-wrapper-bottom{
    padding-top:12px;
    padding-bottom:7px;
}
  
 .address{
     font-weight:400;
   color: #fff;
   padding-left: 50px;
 }

 .black-list{
     list-style: none;
     display: flex;
 }
 .header-link {
     color: #fff;
     padding-right:50px ;
     text-decoration:none;
     position: relative;

 }
 .header-link::before{
     position: absolute;
     content:"";
     width: 14px;
     height: 14px;
     background-image:url("../img/envelope.svg ");
     background-position:center;
     left:-21px;
     background-repeat:no-repeat;
     top: 2px;
 }
 .link-white{
     list-style: none;
     display: flex;

 }
 

 .pages{
     margin-right: 56px;
     font-weight: 600;
   
 }
.pages:last-child{
    padding: 0;
}
.pages.current-link{
    color: #FF7129;
    position: relative;
}
.pages.current-link::before,
.pages.current-link::after{
    position: absolute;
    content:"";
    width: 10px;
    height: 1px;
    background-color: #FF7129;
    top: 8px;
}
.pages.current-link::before{
    left:-18px;
}
.pages.current-link::after{
    right:-18px;
}
.logo{
    padding-left:50px;
}
.header-text{
    color: #20242D;
    text-decoration:none;
}
.header-text:hover{
    color:#FF7129;
    
}

.section-medium{
    background-image:radial-gradient(50% 179.69% at 50% 50%, rgba(32, 36, 45, 0) 0%, #20242D 100%), url(../img/Panel.jpg);
    min-height: 844px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    background-color:rgba(32, 36, 45, 0.3);
 }
.banner{
    color: #fff;
    font-weight: 700;
    font-size: 92px;
    padding-top: 271px;
}
 .under-banner{
     color: #fff;
     font-weight:400;
     font-size: 16px;
     line-height: 24px;
     text-align: center;
     width: 508px;
     margin: 0 auto;
 }
 .banner-button{
     background-color: #FF7129;
     box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
     border: 1px solid #FF7129 ;
 }
 .banner-button:hover{
     background-color:#D35E22;;
 }
 .banner-button:focus{
   background-color: #ff5b19;
 }
 .banner-button:active
{
    background-color: #e9813b;
}
 .banner-button-text{
     color: #fff;
    font-weight:700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 47px;
    padding-left: 48px;
    margin-top: 59px;
 }

 .second-section{
     width: 100%;
     padding-top: 132px;
     padding-bottom: 115px;
 }
 
 .name-second-section{
    font-weight:700;
    font-size: 48px;
    line-height: 97%;
    color: #20242D;
    margin-top: 201px;

 }
 .second-text{
    font-weight:400;
    font-size: 16px;
    line-height: 24px;
    color: #20242D;
    margin-top: 64px;
 }

 .section-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
 .second-section-text{
     max-width: 535px;
 }
 .footer{
    width: 100%;
    background-color: #20242D;
    height: 207px;
}

.footer-container{
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.link-footer{
    list-style: none;
    display: flex;
    margin-top: 66px;
}


.footer .header-text{
    color: #fff;
}
.footer .header-text:hover{
    color:#FF7129;

}
.nav-list-footer{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.nav-text{
    color: #7B7E85;  
}
.footer-logo{
    margin-left: 50px;
}
.footer-button{
   background-color:#20242D;
   margin-top: 50px;
   margin-right: 50px;
}
.footer-button-text{
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 63px;
    padding-right: 62px;
    background-color: #20242d;
    border: 1px solid #ff7129;
    box-sizing: border-box;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
  }
  .footer-button:hover {
    border: 1px solid #e25f1e;
    background-color: #41434b;
}
.footer-button:active {
    border: 1px solid #ff7530;
    background-color: #222327;
}
.footer-button:focus {
    border: 1px solid #d66f3b;
    background-color: #25262b;
}
/*about.html*/
.main{
    width: 100%;
}
.main-about{
    width: 100%;
    background-image:url(/img/view2p.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center; 
    min-height: 350px;
}
.about-text{
    font-weight:700px;
    font-size: 48px;
    color: #fff;
    padding-top: 200px;
    padding-bottom: 103px;
    padding-left: 217px;
    padding-right:1253px;
    width: 130px;
}
.about-content{
    display: flex;
    padding-left: 200px;
    padding-top: 80px;
    max-height: 168px;
    margin: 0 auto;
    font-weight: normal;
    line-height: 24px;
}
